* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body,
html {
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.btn {
  padding: 20px 35px;
  font-weight: 500;
  font-size: 15px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
/* start Header */
header {
  position: absolute;
  width: 100%;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 135px;
}
.header_container nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container li {
  list-style: none;
  display: inline;
  padding: 55px 15px;
}
.header_container li a {
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.header_container a span {
  display: inline-block;
  transition: 1s;
}
.header_container a:hover {
  color: #f55f8d;
}
.header_container a:hover span {
  animation: uptodown 0.3s;
}
.header_container div {
  padding-left: 20px;
}

.header_container .btn:hover {
  background-position: right center;
}
/* End Header */
/* start carousel */

.carousel {
  background-image: url(./img/pic2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 180px 0 0 0;
}
.carousel_left {
  width: 60%;
}

.carousel .carousel_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.carousel .carousel_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.carousel .carousel_article button {
  margin-top: 20px;
}
.carousel .carousel_article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.carousel .carousel_article li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.carousel .carousel_article i::before {
  content: "\f00c";
}
.carousel .carousel_article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}
.carousel_right {
  width: 40%;
}
.carousel_right div {
  margin-left: 50px;
  width: 570px;
}
.carousel_right img {
  width: 100%;
  display: block;
  line-height: 25.6px;
  height: 593px;
}
/* .carousel_right div {
  margin-left: 50px;
} */
.carousel_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 593px;
}

/* end carousel */
/* animate */
@keyframes uptodown {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}
/* start service */
.service {
  padding: 115px 0px 0px;
  text-align: center;
  background-image: url(./img/bg2.png);
  background-size: cover;
  background-position: top center;
}
.service .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.service .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.service_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.service_item {
  padding: 30px 45px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transform: translateY(0px);
  transition: 0.5s;
}
.service_item:hover {
  transform: translateY(-20px);
}
.service_item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.service_item img {
  width: 215px;
  height: 215px;
}
/* end service */
/* start aboutUs */
.aboutUs {
  background-image: url(./img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding: 115px 0px 85px;
  overflow: hidden;
}

.aboutUs_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.aboutUs_right {
  width: 50%;
}
.aboutUs_right p {
  margin-bottom: 15px;
}
.aboutUs_right .title p {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;
  margin-bottom: 15px;
}
.aboutUs_right .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.aboutUs_right ul {
  margin-bottom: 30px;
}
.aboutUs_right ul li {
  list-style: none;
  text-align: left;
}
.aboutUs_right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
.aboutUs_left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.aboutUs_left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
/* end aboutUs */
